@import '../../mixins.scss';

.details {
  &__title {
    @include heading-2;
    margin-bottom: 16px;
  }

  &__item {
    @include text;
    svg {
      margin-right: 8px;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    &__title {
      margin-bottom: 32px;
    }

    &__item {
      font-size: 24px;
    }

    &__row {
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 1440px) {
    max-width: 343px;

    &__item {
      margin-bottom: 16px;
    }

    &__row {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 32px;
    }
  }
}
