@import '../../mixins.scss';

.markdown {
  h1 {
    @include heading-1;
    margin-bottom: 24px;
  }

  h2 {
    @include heading-2;
    margin-bottom: 24px;
  }

  h3 {
    @include heading-3;
    margin-bottom: 16px;
  }

  h4 {
    @include heading-4;
    margin-bottom: 16px;
  }

  h5 {
    @include heading-5;
    margin-bottom: 8px;
  }

  h6 {
    @include heading-6;
    margin-bottom: 8px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: fit-content;
  }

  p,
  a,
  li {
    @include text;
  }

  p,
  img,
  blockquote {
    margin-bottom: 16px;
  }

  ul,
  ol {
    list-style-position: inside;
  }

  p {
    line-height: 20px;
  }

  li {
    margin-bottom: 8px;

    & li {
      margin-left: 16px;
    }
  }

  img {
    width: 100%;
    border-radius: 8px;
  }
}
