.page {
  padding: 16px;
  width: 100%;
  max-width: 1440px;
  margin: auto;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 144px - 32px);
  }

  @media screen and (min-width: 768px) {
    &__body {
      min-height: calc(100vh - 112px - 32px);
    }
  }

  @media screen and (min-width: 1440px) {
    padding: 32px;

    &__body {
      min-height: calc(100vh - 128px - 64px);
    }
  }
}
