.page {
  padding: 16px;
  width: 100%;
  max-width: 1440px;
  margin: auto;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1440px) {
    padding: 32px;
  }
}
