@import '../../mixins.scss';

.drawer-menu {
  svg {
    height: 24px;
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    animation: 0.5s forwards fadein;
    overflow-x: hidden;
  }

  &__drawer {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #28282c;
    padding: 48px 16px;
    animation: 1s forwards slidein;
  }

  &__drawer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__drawer-title {
    @include heading-3;
  }

  &__button {
    &:focus {
      border-radius: 4px;
      outline: 2px solid #fff;
      outline-offset: 4px;
    }
  }

  &--fade-out {
    animation: 1s forwards fadeout;
  }

  &--slide-out {
    animation: 0.5s forwards slideout;
  }

  @keyframes fadein {
    from {
      z-index: -1;
      background-color: #00000000;
    }

    to {
      z-index: 999;
      background-color: #00000080;
    }
  }

  @keyframes fadeout {
    from {
      z-index: 999;
      background-color: #00000080;
    }

    to {
      z-index: -1;
      background-color: #00000000;
    }
  }

  @keyframes slidein {
    from {
      right: -100%;
    }

    to {
      right: 0;
    }
  }

  @keyframes slideout {
    from {
      right: 0;
    }

    to {
      right: -100%;
    }
  }
}
