.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  &__copyright {
    font-family: Karla, sans-serif;
    margin: 32px 0;
  }

  &__icon {
    color: #fff;

    svg {
      height: 45px;
      width: 45px;
    }

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    &__copyright {
      margin-bottom: 0px;
    }
  }
}
