.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 96px;

  &__copyright {
    font-size: 16px;
    font-family: Karla, sans-serif;
    color: #53d670;
    margin-top: 24px;
  }

  &__icon {
    color: #fff;
    height: 24px;

    svg {
      height: 24px;
      width: 24px;
      overflow: hidden;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover,
    &:focus {
      svg {
        transition: transform 300ms;
        transform: scale(1.25);
      }
    }

    &:focus {
      outline: none;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    &__copyright {
      margin: 0px;
    }
  }

  @media screen and (min-width: 1440px) {
    svg {
      height: 32px;
      width: 32px;
    }

    &__copyright {
      font-size: 24px;
    }
  }
}
