.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 32px;

  &__copyright {
    margin: 32px 0;
  }

  &__icon {
    color: #fff;
    height: 45px;

    svg {
      height: 45px;
      width: 45px;
      overflow: hidden;
    }

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:hover,
    &:focus {
      svg {
        transition: transform 300ms;
        transform: scale(1.15);
      }
    }

    &:focus {
      outline: none;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;

    &__copyright {
      margin: 0px;
    }
  }
}
