.header {
  display: flex;
  flex-direction: column;

  &__body {
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) {
    &__body {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 1440px) {
    text-align: center;
    align-items: center;
  }
}
