.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;

  &__title {
    font-weight: bold;
    font-size: 24px !important;
    color: #53d670;
  }

  &__list-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &__drawer-menu {
      display: none;
    }

    &__list-menu {
      display: initial;
    }
  }

  @media screen and (min-width: 1440px) {
    height: 64px;
  }
}
