.list-menu {
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    display: flex;
    width: fit-content;
    margin-bottom: 16px;
  }

  &__number {
    margin-right: 8px;
    color: #53d670;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    li {
      margin-bottom: 0;
      margin-left: 16px;
    }
  }
}
