.work {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  margin: 0 auto 128px auto;

  &__title {
    font-family: Karla, sans-serif;
    font-size: 32px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1440px) {
    &__title {
      font-size: 48px;
    }
  }
}
