html,
body,
#__next {
  height: 100%;
  width: 100%;
  background-color: #28282c;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #53D670;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: 4px;
  }
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
